<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HostoPedia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfile</display-name>
    <servlet-name>EditProfile</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfile</servlet-name>
    <url-pattern>/EditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserDetails</display-name>
    <servlet-name>EditUserDetails</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserDetails</servlet-name>
    <url-pattern>/EditUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserDeails</display-name>
    <servlet-name>DisplayUserDeails</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayUserDeails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserDeails</servlet-name>
    <url-pattern>/DisplayUserDeails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserRecords</display-name>
    <servlet-name>DisplayUserRecords</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayUserRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserRecords</servlet-name>
    <url-pattern>/DisplayUserRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAlUserDetails</display-name>
    <servlet-name>DisplayAlUserDetails</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayAlUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAlUserDetails</servlet-name>
    <url-pattern>/DisplayAlUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveUserDetails</display-name>
    <servlet-name>RemoveUserDetails</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveUserDetails</servlet-name>
    <url-pattern>/RemoveUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserDetails</display-name>
    <servlet-name>UpdateUserDetails</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserDetails</servlet-name>
    <url-pattern>/UpdateUserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetPassword</display-name>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>com.HostoPedia.servlet.ResetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyOtp</display-name>
    <servlet-name>VerifyOtp</servlet-name>
    <servlet-class>com.HostoPedia.servlet.VerifyOtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyOtp</servlet-name>
    <url-pattern>/VerifyOtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RulesRegulationsServlet</display-name>
    <servlet-name>RulesRegulationsServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RulesRegulationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RulesRegulationsServlet</servlet-name>
    <url-pattern>/RulesRegulationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRulesServlet</display-name>
    <servlet-name>EditRulesServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditRulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRulesServlet</servlet-name>
    <url-pattern>/EditRulesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveRulesServlet</display-name>
    <servlet-name>RemoveRulesServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveRulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRulesServlet</servlet-name>
    <url-pattern>/RemoveRulesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRulesServlet</display-name>
    <servlet-name>DisplayRulesServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayRulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRulesServlet</servlet-name>
    <url-pattern>/DisplayRulesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRulesServlet</display-name>
    <servlet-name>UpdateRulesServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateRulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRulesServlet</servlet-name>
    <url-pattern>/UpdateRulesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRulesServlet</display-name>
    <servlet-name>DeleteRulesServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DeleteRulesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRulesServlet</servlet-name>
    <url-pattern>/DeleteRulesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetpassServlet</display-name>
    <servlet-name>ForgetpassServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.ForgetpassServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetpassServlet</servlet-name>
    <url-pattern>/ForgetpassServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentDetails</display-name>
    <servlet-name>UpdateStudentDetails</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentDetails</servlet-name>
    <url-pattern>/UpdateStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentProfile</display-name>
    <servlet-name>EditStudentProfile</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditStudentProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentProfile</servlet-name>
    <url-pattern>/EditStudentProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFacilityServlet</display-name>
    <servlet-name>DeleteFacilityServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DeleteFacilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFacilityServlet</servlet-name>
    <url-pattern>/DeleteFacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFacilityServlet</display-name>
    <servlet-name>DisplayFacilityServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayFacilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFacilityServlet</servlet-name>
    <url-pattern>/DisplayFacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFacilityServlet</display-name>
    <servlet-name>EditFacilityServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditFacilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFacilityServlet</servlet-name>
    <url-pattern>/EditFacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFacilityServlet</display-name>
    <servlet-name>RemoveFacilityServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveFacilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFacilityServlet</servlet-name>
    <url-pattern>/RemoveFacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacilityServlet</display-name>
    <servlet-name>FacilityServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.FacilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacilityServlet</servlet-name>
    <url-pattern>/FacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFacilityServlet</display-name>
    <servlet-name>UpdateFacilityServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateFacilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFacilityServlet</servlet-name>
    <url-pattern>/UpdateFacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentDetails</display-name>
    <servlet-name>EditStudentDetails</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditStudentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentDetails</servlet-name>
    <url-pattern>/EditStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EventServlet</display-name>
    <servlet-name>EventServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventServlet</servlet-name>
    <url-pattern>/EventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveEventServlet</display-name>
    <servlet-name>RemoveEventServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveEventServlet</servlet-name>
    <url-pattern>/RemoveEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditEventServlet</display-name>
    <servlet-name>EditEventServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditEventServlet</servlet-name>
    <url-pattern>/EditEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEventServlet</display-name>
    <servlet-name>UpdateEventServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEventServlet</servlet-name>
    <url-pattern>/UpdateEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEventServlet</display-name>
    <servlet-name>DisplayEventServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEventServlet</servlet-name>
    <url-pattern>/DisplayEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEventServlet</display-name>
    <servlet-name>DeleteEventServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DeleteEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEventServlet</servlet-name>
    <url-pattern>/DeleteEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GalleryServlet</display-name>
    <servlet-name>GalleryServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.GalleryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GalleryServlet</servlet-name>
    <url-pattern>/GalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayGalleryServlet</display-name>
    <servlet-name>DisplayGalleryServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayGalleryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayGalleryServlet</servlet-name>
    <url-pattern>/DisplayGalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditGalleryServlet</display-name>
    <servlet-name>EditGalleryServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditGalleryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditGalleryServlet</servlet-name>
    <url-pattern>/EditGalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateGalleryServlet</display-name>
    <servlet-name>UpdateGalleryServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateGalleryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateGalleryServlet</servlet-name>
    <url-pattern>/UpdateGalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveGalleryServlet</display-name>
    <servlet-name>RemoveGalleryServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveGalleryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveGalleryServlet</servlet-name>
    <url-pattern>/RemoveGalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteGalleryServlet</display-name>
    <servlet-name>DeleteGalleryServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DeleteGalleryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteGalleryServlet</servlet-name>
    <url-pattern>/DeleteGalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStaffDetails</display-name>
    <servlet-name>DeleteStaffDetails</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DeleteStaffDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaffDetails</servlet-name>
    <url-pattern>/DeleteStaffDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStaffServlet</display-name>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DeleteStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStaffServlet</servlet-name>
    <url-pattern>/DeleteStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStaffServlet</display-name>
    <servlet-name>DisplayStaffServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStaffServlet</servlet-name>
    <url-pattern>/DisplayStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStaffServlet</display-name>
    <servlet-name>EditStaffServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStaffServlet</servlet-name>
    <url-pattern>/EditStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveStaffServlet</display-name>
    <servlet-name>RemoveStaffServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveStaffServlet</servlet-name>
    <url-pattern>/RemoveStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StaffServlet</display-name>
    <servlet-name>StaffServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.StaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StaffServlet</servlet-name>
    <url-pattern>/StaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStaffServlet</display-name>
    <servlet-name>UpdateStaffServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStaffServlet</servlet-name>
    <url-pattern>/UpdateStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomServlet</display-name>
    <servlet-name>RoomServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomServlet</servlet-name>
    <url-pattern>/RoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRoom</display-name>
    <servlet-name>DisplayRoom</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRoom</servlet-name>
    <url-pattern>/DisplayRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRoomServlet</display-name>
    <servlet-name>DisplayRoomServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRoomServlet</servlet-name>
    <url-pattern>/DisplayRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRoomServlet</display-name>
    <servlet-name>EditRoomServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRoomServlet</servlet-name>
    <url-pattern>/EditRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRoomServlet</display-name>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRoomServlet</servlet-name>
    <url-pattern>/UpdateRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveRoomServlet</display-name>
    <servlet-name>RemoveRoomServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRoomServlet</servlet-name>
    <url-pattern>/RemoveRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRoomServlet</display-name>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DeleteRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRoomServlet</servlet-name>
    <url-pattern>/DeleteRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomAllocationServlet</display-name>
    <servlet-name>RoomAllocationServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RoomAllocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomAllocationServlet</servlet-name>
    <url-pattern>/RoomAllocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FoodServlet</display-name>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.FoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/FoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFoodServlet</display-name>
    <servlet-name>DisplayFoodServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFoodServlet</servlet-name>
    <url-pattern>/DisplayFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFoodServlet</display-name>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DeleteFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFoodServlet</servlet-name>
    <url-pattern>/DeleteFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFoodServlet</display-name>
    <servlet-name>RemoveFoodServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFoodServlet</servlet-name>
    <url-pattern>/RemoveFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFoodServlet</display-name>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.UpdateFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFoodServlet</servlet-name>
    <url-pattern>/UpdateFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditFoodServlet</display-name>
    <servlet-name>EditFoodServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.EditFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditFoodServlet</servlet-name>
    <url-pattern>/EditFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentGalleryServlet</display-name>
    <servlet-name>StudentGalleryServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.StudentGalleryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentGalleryServlet</servlet-name>
    <url-pattern>/StudentGalleryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeedbackServlet</display-name>
    <servlet-name>FeedbackServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.FeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeedbackServlet</servlet-name>
    <url-pattern>/FeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayFeedbackToAdmin</display-name>
    <servlet-name>DisplayFeedbackToAdmin</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayFeedbackToAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayFeedbackToAdmin</servlet-name>
    <url-pattern>/DisplayFeedbackToAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFeedbackServlet</display-name>
    <servlet-name>RemoveFeedbackServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.RemoveFeedbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFeedbackServlet</servlet-name>
    <url-pattern>/RemoveFeedbackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentFacilityServlet</display-name>
    <servlet-name>StudentFacilityServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.StudentFacilityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentFacilityServlet</servlet-name>
    <url-pattern>/StudentFacilityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEventServlet</display-name>
    <servlet-name>StudentEventServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.StudentEventServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEventServlet</servlet-name>
    <url-pattern>/StudentEventServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentFoodServlet</display-name>
    <servlet-name>StudentFoodServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.StudentFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentFoodServlet</servlet-name>
    <url-pattern>/StudentFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRoomServlet</display-name>
    <servlet-name>StudentRoomServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.StudentRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRoomServlet</servlet-name>
    <url-pattern>/StudentRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentRulesRegulationServlet</display-name>
    <servlet-name>StudentRulesRegulationServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.StudentRulesRegulationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentRulesRegulationServlet</servlet-name>
    <url-pattern>/StudentRulesRegulationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentStaffServlet</display-name>
    <servlet-name>StudentStaffServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.StudentStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentStaffServlet</servlet-name>
    <url-pattern>/StudentStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayRoomAllocationServlet</display-name>
    <servlet-name>DisplayRoomAllocationServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayRoomAllocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayRoomAllocationServlet</servlet-name>
    <url-pattern>/DisplayRoomAllocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBookingDetailsServlet</display-name>
    <servlet-name>DisplayBookingDetailsServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayBookingDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBookingDetailsServlet</servlet-name>
    <url-pattern>/DisplayBookingDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayComplaintServlet</display-name>
    <servlet-name>DisplayComplaintServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayComplaintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayComplaintServlet</servlet-name>
    <url-pattern>/DisplayComplaintServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayComplaintToAdmin</display-name>
    <servlet-name>DisplayComplaintToAdmin</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayComplaintToAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayComplaintToAdmin</servlet-name>
    <url-pattern>/DisplayComplaintToAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ComplaintServlet</display-name>
    <servlet-name>ComplaintServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.ComplaintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComplaintServlet</servlet-name>
    <url-pattern>/ComplaintServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookRoom</display-name>
    <servlet-name>BookRoom</servlet-name>
    <servlet-class>com.HostoPedia.servlet.BookRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRoom</servlet-name>
    <url-pattern>/BookRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderServlet</display-name>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderConfirmationServlet</display-name>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <servlet-class>com.HostoPedia.servlet.OrderConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderConfirmationServlet</servlet-name>
    <url-pattern>/OrderConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayBookingServletToAdmin</display-name>
    <servlet-name>DisplayBookingServletToAdmin</servlet-name>
    <servlet-class>com.HostoPedia.servlet.DisplayBookingServletToAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBookingServletToAdmin</servlet-name>
    <url-pattern>/DisplayBookingServletToAdmin</url-pattern>
  </servlet-mapping>
</web-app>